.container {
	width: 500px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	margin-top: 10px;
}

input, select, textarea {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}